/* ************ Reset CSS ************ */
:root {
  --main-font:sans-serif;
  --font-size: 16px;
  --main-color: #008b8b;
  --main-color-modal: #004141a5;
  --second-color: #ffebcd;
  --second-modal-color: #ffebcdbe;
  --text-color: #f4f4f4;
  --text-color-modal: #004141a5;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  padding: 1rem;
}

/* Estilos para el menú de navegación */
.off-canvas-btn {
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  z-index: 9;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  opacity: 0;
  &:checked + .off-canvas-burger {
    background-color: transparent;
    &::before {
      transform: rotate(45deg) translate(0, 0);
    };
    &::after {
      transform: rotate(-45deg) translate(0.25rem, -0.3rem);
    }
  };
  &:checked ~ .off-canvas-menu {
    transform: translate(0, 0);
  };
  &:checked ~ .title-header {
    color: var(--second-color);
    font-size: var(--fs-2);
    transition: color 800ms ease, font-size 500ms ease 100ms;
  }
}

.off-canvas-burger {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 8;
  width: 2rem;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 0.2rem;
  transform: rotate(0deg) translate(0, 0.8rem);
  transform-origin: top left;
  transition: transform 500ms ease, background-color 500ms ease;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.4rem;
    background-color: #fff;
    border-radius: 0.2rem;
  };
  &::before {
    transform: rotate(0deg) translate(0, -0.7rem);
  };
  &::after {
    transform: rotate(0deg) translate(0, 0.3rem);
  }
}

.off-canvas-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;
  background-image: linear-gradient(225deg, rgba(83,113,136,1) 0%, rgba(121,178,203,1) 38%, rgba(3,159,190,1) 69%, rgba(0,213,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out;
  transform: translateX(100%);
}

.off-canvas-menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.off-canvas-link {
  padding: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: var(--second-color);
  color: #000;
  border-bottom: thin solid #000;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  &:first-child {
    border-top: thin solid #000;
  }
  &:hover {
    color: var(--text-color-modal);
    font-weight: 700;
  }
  &.active {
    color: #000;
    color: var(--text-color);
    font-weight: 700;
  }
}

/* ************ Estilos Comunes ********** */
.btn {
  padding: 1rem;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  & i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

.btn-result {
  border: none;
  background-color: var(--second-color);
  box-shadow: 0 8px 8px rgba(255, 235, 205, 0.6), 0 8px rgba(0, 0, 0, 0.5);
}

.btn:active {
  transform: scale(0.95);
}

.container-true div {
  position: absolute;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 2rem solid rgb(0, 125, 0);
}

.container-false {
  & > div {
    position: absolute;
    width: 18rem;
    height: 2rem;
    background-color: red;
    border-radius: 4rem;
  }
  & > div:nth-child(1) {
    transform: rotate(45deg);
  }
  & > div:nth-child(2) {
    transform: rotate(-45deg);
  }
}

.container-true.is-active, 
.container-false.is-active {
  display: none;
}


/* ************ Número Aleatorio ********** */
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.main-numbers {
  gap: 3rem;
}

.form-container {
  display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.input-container > input {
  width: 100px;
  margin-top: 0.5rem;
}

.number_random {
  font-size: 15rem;
}

/* ************ Suma ************ */
.form-sum-container {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.addend-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  position: relative;
  & label {
    padding-left: 2rem;
    text-align: end;
    letter-spacing: 1.5rem;
  }
  & .plus-sign {
    position: absolute;
    bottom: calc(50% - 1.5rem);
    left: -1rem;
  }
  & :nth-child(n):last-child {
    border-bottom: 3px solid;
    padding-bottom: 0.5rem;
  }
}

.input-sum-container {
  width: 100%;
  padding-right: 2rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  & input {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    text-align: center;
    border: none;
    background-color: var(--text-color);
  }
  & input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
  }
}

.btn-sum-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .sum-result {
    margin: 3rem 0;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    transition: opacity 0.5s ease-in-out;
  }
}

.btn-edit {
  padding: 0.4rem;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  border: none;
  background-color: transparent;
  & i{
    color: var(--second-color);
    color: var(--text-color);
  }
}

@keyframes modal-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sum-edit-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  opacity: 0;
  visibility: hidden;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  animation: modal-fade-in 0.5s ease-out;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-body {
  & p {
    margin: 1rem;
  }
  & .modal-value {
    margin: 0 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-color);
  }
}

.modal-footer {
  & .btn-close {
    margin-top: 2rem;
  }
}

.hidden {
  opacity: 0;
}

/* ************ Multiplicación ************ */
.mult {
  display: flex;
  flex-direction: column;
}

.mult-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.mult span {
  font-size: 4rem;
}

.input-valor {
  width: 11rem;
  height: 4rem;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.mult__btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mult-btn {
  margin-top: 4rem;
}

.container-true, 
.container-false {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ************ Abecedario ************ */
.main-alphabet {
  gap: 6rem;
}

.letter-alphabet {
  font-size: 11rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1rem;
  color: #131313;
}

/* ************ Syllables ************ */
.main-syllables {
  justify-content: start;
}

.form-syllables {
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.check-allboxes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  & input[type="radio"] {
    width: 1rem;
    height: 1rem;
  }
}

.checkbox-consonant {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & div {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
  }
}

.consonant {
  margin: 0.4rem;
  width: 1.1rem;
  height: 1.1rem;
}

.syllable-random {
  margin-bottom: 3rem;
  font-size: 11rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #131313;
}

/* ************ Media queries ************ */

@media screen and (min-width: 40rem) {

  .header {
    display: flex;
    justify-content: space-between;
  }

  .off-canvas-menu {
    position: static;
    background-image: none;
    transform: translateX(0);
  }

  .off-canvas-menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .off-canvas-link {
    padding: 0;
    text-align: center;
    color: var(--second-color);
    border-bottom: none;
    font-size: var(--fs-1);
    font-weight: 700;
    &:first-child {
      border-top: none;
    }
    &.active {
      border-bottom: 2px solid var(--text-color);
    }
  }

  .off-canvas-btn,
  .off-canvas-burger {
    display: none;
  }

  /* ************ Números ************ */
  .numeros {
    font-size: 5rem;
  }
  .number_random {
    font-size: 18rem;
  }

  /* ************ Multiplicación ************ */
  .form-sum-container {
    margin: 2rem 0;
  }
  /* ************ Multiplicación ************ */
  .mult span {
    font-size: 10rem;
  }

  .mult-container {
    flex-direction: row;
  }

  .input-valor {
    width: 14rem;
    height: 8rem;
    font-size: 6rem;
    text-align: center;
    margin-top: 0;
    margin-left: 3rem;
  }

  .container-true div {
    width: 25rem;
    height: 25rem;
    border: 3rem solid rgb(0, 125, 0);
  }

  .container-false div {
    width: 25rem;
    height: 3rem;
  }

  /* ************ Abecedario ************ */
  .letter-alphabet {
    font-size: 18rem;
    letter-spacing: 1.5rem;
  }
  
  /* ************ Syllables ************ */
  .main-syllables{
    justify-content: start;
  }
  .form-syllables {
    max-width: 80%;
    margin-top: 1rem;
  }

  .syllable-random {
    font-size: 14rem;
  }
}