/* ************ Reset CSS ************ */
:root {
  --main-font:sans-serif;
  --font-size: 16px;
  --main-color: #008b8b;
  --main-color-modal: #004141a5;
  --second-color: #ffebcd;
  --second-modal-color: #ffebcdbe;
  --text-color: #f4f4f4;
  --text-color-modal: #004141a5;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: var(--main-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* ************ Estilos de menu ************ */
.panel-btn{
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 1rem;
right: 1rem;
background-color: var(--second-color);
border-radius: 50%;
z-index: 99;
width: 4rem;
height: 4rem;
cursor: pointer;
}

.panel-btn-menu,
.panel-btn-close {
  font-size: 3rem;
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--main-color-modal);
  transition: transform 300ms ease-in-out;
  transform: translate(-100%, 0);
}

.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu a {
  padding: 1rem;
  text-decoration: none;
  list-style: none;
  text-align: center;
  font-weight: bold;
  border-top: medium solid #003434;
  color: #000;
}

.menu a:hover {
  background-color: var(--second-modal-color);
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
}

.panel.is-active {
  transition: transform 300ms ease-in-out;
  transform: translate(0, 0);
}

.panel-btn-close.is-active {
  display: none;
}

.panel-btn-menu.is-active {
  display: none;
}


/* ************  ************ */

.centrado {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.change-window {
  display: none;
  width: 100%;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--main-color);
}

.change-window:target {
  display: block;
}

.boton {
  margin-top: 2rem;
  padding: 3px;
  border-radius: 10px;
  background-color: #c0c0c0;
  cursor: pointer;
  width: 5rem;
}

/* ************ Números ************ */
.numeros {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 2fr));
  gap: 1rem;
  font-size: 3rem;
}

.rango-numeros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.rango-numeros>* {
  margin-bottom: 0.5rem;
}

.input-numeros input {
  width: 5rem;
}

/* ************ Número Aleatorio ********** */
.numero-aleatorio {
  font-size: 15rem;
}

/* ************ imagenes Aleatorias ********** */
.comtenedor-imagenes {
  /* background-color: #f589bf; */
  width: 100%;
}

.comtenedor-imagenes img {
  width: 100px;
}

/* ************ Multiplicación ************ */
.container-mult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.multiplicacion span {
  font-size: 4rem;
}

.input-valor {
  width: 11rem;
  height: 4rem;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.btn-multiplicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-mult {
  margin-top: 5rem;
}

.container-true, .container-false {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-true div {
  position: absolute;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 2rem solid rgb(0, 125, 0);
}

.container-false div {
  position: absolute;
  width: 18rem;
  height: 2rem;
  background-color: red;
  border-radius: 4rem;
}

.container-false div:nth-child(1) {
  transform: rotate(45deg);
}

.container-false div:nth-child(2) {
  transform: rotate(-45deg);
}

.container-true.is-active, .container-false.is-active{
  display: none;
}

/* ************ Vocales ************ */
.vocal-aleatoria {
  font-size: 18rem;
}
.vocal-button {
  margin-bottom: 6rem;
}

@media screen and (min-width: 480px) {
  .numeros {
    font-size: 5rem;
  }

  .numero-aleatorio {
    font-size: 30rem;
  }

  .multiplicacion span {
    font-size: 10rem;
  }

  .container-mult {
    flex-direction: row;
  }

  .input-valor {
    width: 14rem;
    height: 8rem;
    font-size: 6rem;
    text-align: center;
    margin-top: 0;
    margin-left: 3rem;
  }

  .container-true div {
    width: 25rem;
    height: 25rem;
    border: 3rem solid rgb(0, 125, 0);
  }

  .container-false div {
    width: 25rem;
    height: 3rem;
  }
}